@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

:root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    
    --color-white: white;
    --color-black: black;
    --color-primary: hsl(265, 75%, 27%);
    --color-accent: var(--cosmo-gradient);
    
    /* cosmo */

    --cosmo-purple: #450c7d;
    --cosmo-dark-blue: #455a92;
    --cosmo-light-blue: #458492;
    --cosmo-gradient: linear-gradient(to bottom, var(--cosmo-purple) 0, var(--cosmo-dark-blue) 80%, var(--cosmo-light-blue) 100%);
}
  

  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-white);
    background-color: var(--color-black);
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -100;
  }

  :global(h1) {
    font-size: var(--font-size-xl);
    padding: 0;
    margin: 0;
  }

  :global(h2) {
    font-size: var(--font-size-lg);
    padding: 0;
    margin: 0;
  }

  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

/* utility selectors */

.fill-screen {
  height: 100vh;
  width: 100vw;
}

.bg {
  position: absolute;
  z-index: -5;
}

.cosmo {
  background: var(--cosmo-gradient);
}

.darken {
    filter: brightness(0.8);
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    flex-basis: 3fr 2fr;
}

.hero section h1 {
    font-size: 120px;
    line-height: 150px;
    font-family: "Basic", Arial, Helvetica, sans-serif;
    margin: 0;
}

.hero section h2 {
  margin: 0;
}

.hero section .link {
  margin: 10px
}

.hero section.down {
  align-content: end;
}