---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sol Wolfenden" description="The personal website for Sol Wolfenden." keywords="Sol, Sol Wolfenden, Sol Wolf">
    <div class="fill-screen cosmo bg"></div>
    
</Layout>