---
import Link from "./Link.astro";
---

<header>
    <svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg" class="small-sol">
        <g clip-path="url(#clip0_3_31)">
            <path d="M47.5 0.475C53.8485 0.475 60.0069 1.71826 65.8041 4.17026C71.4038 6.53872 76.4328 9.92945 80.7517 14.2483C85.0705 18.5672 88.4613 23.5962 90.8297 29.1959C93.2817 34.9931 94.525 41.1515 94.525 47.5C94.525 53.8485 93.2817 60.0069 90.8297 65.8041C88.4613 71.4038 85.0705 76.4328 80.7517 80.7517C76.4328 85.0705 71.4038 88.4613 65.8041 90.8297C60.0069 93.2817 53.8485 94.525 47.5 94.525C41.1515 94.525 34.9931 93.2817 29.1959 90.8297C23.5962 88.4613 18.5672 85.0705 14.2483 80.7517C9.92945 76.4328 6.53872 71.4038 4.17026 65.8041C1.71826 60.0069 0.475 53.8485 0.475 47.5C0.475 41.1515 1.71826 34.9931 4.17026 29.1959C6.53872 23.5962 9.92945 18.5672 14.2483 14.2483C18.5672 9.92945 23.5962 6.53872 29.1959 4.17026C34.9931 1.71826 41.1515 0.475 47.5 0.475ZM47.5 0C21.2665 0 0 21.2665 0 47.5C0 73.7335 21.2665 95 47.5 95C73.7335 95 95 73.7335 95 47.5C95 21.2665 73.7335 0 47.5 0Z" fill="#D9D9D9"/>
            <path d="M8.9729 63.7215H23.6689C28.0347 63.7215 31.5813 59.9494 31.608 55.2777L31.6083 55.2177C31.6352 50.4977 28.0616 46.6591 23.6508 46.6701L17.028 46.6866C12.6361 46.6975 9.07029 42.8906 9.07029 38.1909C9.07029 33.4988 12.6248 29.6951 17.0095 29.6951H31.6572" stroke="#D9D9D9" stroke-width="5.4" stroke-miterlimit="10"/>
            <path d="M50.0483 63.6606C56.3123 63.6606 61.3904 58.5826 61.3904 52.3185C61.3904 46.0544 56.3123 40.9763 50.0483 40.9763C43.7842 40.9763 38.7061 46.0544 38.7061 52.3185C38.7061 58.5826 43.7842 63.6606 50.0483 63.6606Z" stroke="#D9D9D9" stroke-width="5.4" stroke-miterlimit="10"/>
            <path d="M71.0186 29.786V57.6368C71.0186 61.0412 73.7898 63.795 77.1942 63.7736L80.6972 63.7515" stroke="#D9D9D9" stroke-width="5.4" stroke-miterlimit="10"/>
            <path d="M82.5 61H86.55C87.2951 61 87.9 61.6049 87.9 62.35V65.05C87.9 65.7951 87.2951 66.4 86.55 66.4H82.5V61Z" fill="#D9D9D9"/>
        </g>
        <defs>
            <clipPath id="clip0_3_31">
                <rect width="95" height="95" fill="white"/>
            </clipPath>
        </defs>
    </svg>
    <ul class="nav">
        <li><Link href="#" style="primary" isFilled={false}>Placeholder 1</List></li>
        <li><Link href="#" style="primary" isFilled={false}>Placeholder 2</List></li>
    </ul>
</header>

<style>
    header {
        height: 107px;
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    svg {
        color: white;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .nav ul {
        margin: 5px;
    }
</style>