---
import "../style/index.scss";

interface Props {
    href: string;
    style: "primary" | "secondary";
    icon?: {
        name: string;
        side: "left" | "right";
    };
    isFilled?: boolean;
    borderVisible?: boolean;
    classes?: string;
}

const { href, style, icon, isFilled = true, borderVisible = false, classes, ...rest } = Astro.props as Props
---

<a 
    href={href}
    class:list={[
        "link",
        classes,
        style,
        { filled: isFilled, bordered: borderVisible }
    ]}
    {...rest}
>
{
    icon && icon.side === "left" && (
        <icon name={icon.name} height="24" width="24" />
    )
}
<span><slot /></span>
{
    icon && icon.side === "right" && (
        <icon name={icon.name} height="24" width="24" />
    )
}
</a>

<style lang="scss">
    @import "../styles/index"

    .primary {
        background-color: $primary-color-bg;
        border-color: $primary-color-border;
    }
</style>
