---
import "../styles/index.css"

export interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta name="description" content={description}/>
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Sol Wolf" />
  </head>
  <body>
    <slot />
  </body>
</html>